<div class="cover">
    <img src="https://static.vecteezy.com/system/resources/previews/001/410/750/original/cyber-monday-happy-shopping-background-free-vector.jpg" alt="">
    <div class="cover-overlay">

        <section class="content">
            <h1>
                Online Shopping
            </h1>
        </section>

    </div>

</div>

<h2 class="font-weight-bold text-center pt-5">Log in to continue</h2>
