@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<style>

     body{
        background-color: white !important;
        background-image: none;
    }

    .d-flex{
        height: 50vh !important;
    display: flex!important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

</style>

<div class="d-flex container">
    <h1>

        <img src="https://stories.freepiklabs.com/storage/23247/401-error-unauthorized-rafiki-2845.png" height="200" width="200"/>
    </h1>
    <h1>
       
        You are Not authorized to Visit this page 
        
    </h1>

</div>