



.address-container {
    height: 220px;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-margin-block: 0 5px;
    overflow-y: visible;
}

::-webkit-scrollbar {
    width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #fff0;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #bec4c4;

    &:hover {
        background: #555;
    }
}



.card-credit {
    border: none;
    width: 100%;
    border-radius: 12px;
    color: #fff;
    background-image: linear-gradient(to right top, #280537, #56034c, #890058, #bc005b, #eb1254);
}

.card-input {
    background-color: transparent !important;
    border: none;
    border-bottom: 1px solid white;
    width: 100%;
    color: white !important;

    &:active {
        border: none;
    }
}

.number {
    display: flex;
    flex-direction: column;
    align-items: flex-start !important;
    align-content: flex-start;


    span {
        font-size: 20px;
        font-weight: 600;
    }
}

.cardholder, .expires {
    font-weight: 600;
    font-size: 17px;
}

.name, .date {
    font-size: 15px;
}

.card-border {
    border-top-left-radius: 30px !important;
    border-top-right-radius: 30px !important;
    border: none;
    border-radius: 6px;
    background-color: blue;
    color: #fff;
    background-image: linear-gradient(to right top, #0c0537, #440b51, #7f005d, #b9005b, #eb124b);
}


