
.input-group {
    span {
        background: #009688;
        width: auto;
        color: white;
        border-radius: 0px;
        border: 1px solid #009688;
    }

    input, select {
        
        border-radius: 0px;
        border: 1px solid #009688;
        padding-left: 5px;

        &:focus-within {
            border-radius: 0px;
            outline: 0px solid #009688;
        }

        .input-group:focus-within *:focus {
            outline: 0;
        }
    }
}
