body {
    background-color: #e0f2f1 !important
}

$color-accent: #400485;
$color-dark: #000000;
$color-light: #dbdbdb;



::-webkit-scrollbar {
    height: 5px !important;
    width: 5px !important;
}
/* Track */
::-webkit-scrollbar-track {
    background: #fff0;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #bec4c4;
}



.related-items {
    max-width: 100vw;
    overflow-x: scroll;
    height: 300px;
}

.similar-product-card {
    padding: 20px;
    max-width: 300px;
    min-width: 300px;
    height: 250px;
    transition-duration: 0.5s;

    .card-img-overlay {
        top: 80% !important;
        background: #00695c;
        text-align: center; /* vertical-align: middle; */
        padding: 2%;

        .card-title {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
        }
    }

    .card-img {
        transition-duration: 0.5s;
        max-width: 100%;
        object-fit: contain;
        min-width: 100%;
        height: 100%;
    }

    &:hover {

        .card-img {
            transform: scale(1.1);
        }

        .card-img-overlay {
            transition-duration: 0.5s;
            top: 70% !important;
            background: #00695c;
            text-align: center; /* vertical-align: middle; */
            padding: 2%;

            .card-title {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
            }
        }
    }
}



.row {
    /*height: 450px !important;*/
    .col {

        img {
            margin: 18px;
            height: 450px;
            object-fit: contain;
            overflow: hidden;
            /*&:hover {
            overflow: clip;
                -moz-transform: scale(1.1);
                -webkit-transform: scale(1.1);
                transform: scale(1.1);
            }*/
        }
    }
}

.toast {
    width: 350px;
    max-width: 100%;
    font-size: .875rem;
    pointer-events: auto;
    color: white;
    background-color: rgb(169 133 255) !important;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.1);
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
    border-radius: .25rem;
}

.toast-header {
    display: flex;
    align-items: center;
    padding: .5rem .75rem;
    color: #ffffff;
    background-color: rgb(169 133 255) !important;
    background-clip: padding-box;
    border-bottom: 1px solid rgba(0,0,0,.05);
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}

.input-group {
    span {
        background: #009688;
        width: 100px;
        color: white;
        border-radius: 0px;
        border: 1px solid #009688
    }

    .material-symbols-outlined{

        width: 10%;
    } 
    
    #ImageUrl {
        width: 344px;
    }

    input, select {
        width: 400px;
        border-radius: 0px;
        border: 1px solid #009688;
        padding-left: 5px;

        &:focus-within {
            border-radius: 0px;
            outline: 0px solid #009688;
        }

        .input-group:focus-within *:focus {
            outline: 0;
        }
    }
}
